body
{
    background-color: #474747;
}

.TEXTDiv
{
    font-size: 200%;
    height: 100px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 10vw;
    color: gray;
    font-family: 'Mate SC', serif;
}
#canvasDiv 
{
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 20vh;
    left: 15vw;
}
#TimeLeftDiv
{
    font-size: 200%;
    top: 60vh;
    height: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 10vw;
    color: gray;
    font-family: 'Mate SC', serif;
}

#ItemTable
{
    font-size: 100%;
    top: 300px;
    height: 20vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 10vw;
    color: gray;
    font-family: 'Mate SC', serif;
}
#MenuDiv
{
width: 50vw;
height: 100vh;
background-color: #595959;
position: absolute;
left: 0px;
top: 0px;
}

.menulist 
{
    position: relative;
    top: 20vh;
    font-size: 8vw;
    font-family: 'Mate SC', serif;
}
#MenuImage
{
    position: inherit;
    left: 2vh;
    top: 2vh;
    width: 7vh;
    height: 7vh;
}
#MenuImageText
{
    position: inherit;
    left: 10vh;
    top: 2vh;
    width: 30vw;
    height: 7vh;
    font-size: 10vw;
    font-family: 'Mate SC', serif;
}
#MenuCoin
{
    position: inherit;
    left: 2vh;
    top: 10vh;
    width: 10vw;
}
#coinDivText
{
    position: inherit;
    left: 15vw;
    top: 10vh;
    width: 30vw;
    height: 10vw;
    font-size: 7vw;
    font-family: 'Mate SC', serif;
 
}